<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mihawk sstat</title>
    <link rel="stylesheet" href="./css/sstat.css">
</head>

<body>
    <div id="stat-container">
        <div class="sstat one"></div>
        <div class="sstat two"></div>
        <div class="sstat three"></div>
    </div>

    <style>
        #stat-container {
            display: flex;
            column-gap: 20px;
        }
    </style>

    <script src="./js/sstat.js"></script>
    <script>
        let sstatOne = new SStat('.sstat.one', { title: "A-jour", value: "200", imagePath: "./img/okay.svg" })
        let sstatTwo = new SStat('.sstat.two', { title: "En retard", value: "30", imagePath: "./img/late.svg" })
        let sstatThree = new SStat('.sstat.three', { title: "Réassignations", value: "1208", imagePath: "./img/profile-2user.svg" })

        sstatOne.addOnActionListener(() => {
            console.log("Hello, you click me")
        })
    </script>
</body>

</html>