.switch {
  background-color: #cacaca;
  width: 78px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

.switch * {
  box-sizing: border-box;
}

.switch::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 110%;
  background-color: #0b305e63;
  transition: width 0.5s linear;
}

.switch.active::before {
  width: 100%;
}

.switch::after {
  content: '';
  position: absolute;
  height: 36px;
  width: 36px;
  margin: 2px;
  border-radius: 50%;
  background-color: #0b315e;
  transition: transform 0.5s linear;
}

.switch.active::after {
  transform: translate(100%);
}
