<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mihawk cfile</title>
    <link rel="stylesheet" href="css/cfile.css" />
  </head>
  <body>
    <div class="cfile pdf"></div>
    <div class="cfile photo"></div>

    <style>
      div {
        margin: 20px;
      }
    </style>
    <script src="js/cfile.js"></script>
    <script>
      let pdf = new CFile('.cfile.pdf', { name: 'pdf', placeholder: 'pdf', accept: 'application/pdf' });
      let photo = new CFile('.cfile.photo', { name: 'photo', accept: 'image/*', placeholder: 'Photo passport' });
    </script>
  </body>
</html>
