<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mihawk student info component</title>
  <link rel="stylesheet" href="../progressbar/css/progressbar.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div id="container">
    <div class="spi"></div>
  </div>

  <style>
    * {
      font-family: 'Poppins', 'Times New Roman', Times, serif;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    #container {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  </style>
  <script src="../progressbar/js/progressbar.js"></script>
  <script src="./js/spi.js"></script>
  <script src="spi_state.js"></script>

  <script>
    let spiState = new SpiState('.', (nameClassroom = 'KALIPE Mathias / Master 2'));
    spiState.feesPaidPercent = 20;
    // spiState.imagePath = './img/user.jpg';

    let spi = new Spi('.spi', { componentDir: '.', state: spiState });

    setTimeout(() => {
      spiState.feesPaidValue = '200 000';
      spiState.feesRemainingValue = '100 000';
      spiState.feesPaidPercent = Math.floor((200000 / (200000 + 100000)) * 100);
      spi.setState(spiState);
    }, 5000);
  </script>
</body>

</html>